.mousedragscrollable_1{
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.mousedragscrollable_1>* {
    display: inline-block;
    white-space: normal;
}
.sample{
    height: 250px;
}

.sample li{
    list-style: none;
    padding: 150px;
    background: aliceblue;
    border: 1px solid;
}


  