html, body{
    height: 100%;
}
  
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
* {
    box-sizing: border-box;
}
    
*::-webkit-scrollbar {
    width: 0;
}
  
.aaa{
    width: 85%;
    margin-left: 15%;
    text-align: center;
    overflow: flex;
}
  
.carousel__viewport {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
    
.carousel__slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 350px;
    height: 350px;
    margin-right: 50px;
    border-radius: 20px;
    position: relative;
}  
    
.slide_photo{
    border-radius: 20px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.hidari{
    position: absolute;
    background-image: url(photo/hidari.svg);
    height: 66px;
    width: 66px;
    margin-left: 60%;
    top: 10%;
}

.migi{
    position: absolute;
    background-image: url(photo/migi.svg);
    height: 66px;
    width: 66px;
    margin-left: 80%;
    top: 10%;
}

.carousel__prev{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: red;
    left:-1rem;
}

.carousel__next{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: blue;
    right: -1rem;
}

  
